<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/frag :: boots_trap}">
    <meta charset="UTF-8">
    <title>User Registration Form</title>


</head>
<body>
<div th:replace="~{fragments/frag :: nav}"></div>
<br>
<div class="container col-md-offset-3 col-md-8 mt-lg-5">

    <div class="row mt-2">
        <div th:if="${param.success}">
            <p class="alert alert-info"><b>Registration successful</b> ,please check your email to complete your registration.</p>
        </div>
        <div th:if="${param.exist}">
            <p class="alert alert-danger alert-dismissible fade show">This email already registered.</p>
        </div>
        <div th:if="${param.notValid}">
            <p class="alert alert-danger alert-dismissible fade show">This email already registered but you should check your email to complete your registration.</p>
        </div>

        <div class="m-4">
            User Registration Form
        </div>
    </div>

    <form th:action="@{/registration/register}" method="post" th:object="${user}" class="px-4" autocomplete="off">

    <div class="mb-3 row">
        <label for="firstName" class="col-sm-2 col-form-label">first Name</label>
        <div class="col-sm-6">
            <input type="text"  id="firstName"
                   class="form-control" required autofocus="autofocus"
                   name="firstName" th:field="*{firstName}" >
        </div>
    </div>

        <div class="mb-3 row">
            <label for="lastName" class="col-sm-2 col-form-label">last Name</label>
            <div class="col-sm-6">
                <input type="text"  id="lastName"
                       class="form-control" required
                       name="lastName" th:field="*{lastName}" >
            </div>
        </div>

        <div class="mb-3 row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-6">
                <input type="text"  id="email"
                       class="form-control" required
                       name="email" th:field="*{email}">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-6">
                <input type="password"  id="password"
                       class="form-control" required
                       name="password" th:field="*{password}">
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-success">Register   </button>
            <span>
                Registered already?
                <a href="/" th:href="@{/login}">
                    Login here.
                </a>
            </span>
        </div>
    </form>
</div>
</body>
</html>